.image-slider {
  position: relative;
  color: #111;
  background-color: #000019;
  color: #ccc;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-img {
  border-radius: 24px;
  box-shadow: 0 0 10px #555;
  width: 500px;
  height: 500px;
  transition: opacity 0.5s ease-in-out;
}

.arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  color: #fbb600;
  cursor: pointer;
  transition: 0.3s;
}
.arrow:hover {
  color: #fbb800a9;
}

.arrow-left {
  left: 80px;
}
.arrow-right {
  right: 80px;
}

.circle-indicators {
  position: absolute;
  bottom: 60px;
  display: flex;
  gap: 5px;
}

.current-indicator {
  background-color: #fbb600;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.hide-current-indicator {
  background-color: #ccc;
}

.hide-current-img {
  display: none;
}

.post-title {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fbb600;
  color: #000019;
  padding: 5px 24px;
  font-size: 30px;
  font-weight: 800;
}
