.autocomplete-container {
  background-color: #000316;
  color: #fff;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.the-input-wrapper {
  width: 500px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -200px;
}

.the-input-wrapper input {
  height: 100%;
  width: 70%;
  outline: none;
  border: none;
  border-radius: 24px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: #00072c;
  color: #fff;
  transition: 0.3s;
}
.the-input-wrapper input:hover,
.the-input-wrapper input:focus {
  background-color: #000836;
}

.the-input-wrapper .search-btn {
  height: calc(100% + 20px);
  outline: none;
  padding: 8px 16px;
  background-color: #000836;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  color: #fff;
  border-radius: 24px;
}
.the-input-wrapper .search-btn:hover {
  background-color: #000b49;
}
.the-input-wrapper .search-btn:disabled {
  cursor: not-allowed;
}
.the-input-wrapper .search-btn:hover:disabled {
  background-color: #00072c;
}

.autocomplete-container .results {
  width: 370px;
  background: #00072c75;
  margin-top: 16px;
  border-radius: 24px;
  padding: 10px;
  margin-left: -105px;
}

.autocomplete-container .results p {
  padding: 5px;
  margin: 0;
  color: #ccc;
  cursor: pointer;
}
.autocomplete-container .results p:not(:last-child) {
  border-bottom: 1px solid #00106b;
  padding-bottom: 10px;
}
.autocomplete-container .results p:not(:first-child) {
  padding-top: 10px;
}
