.tabs {
  background-color: #002024;
  color: #fff;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.tabs-container {
  border-radius: 24px;
  width: 60%;
  background-color: #003941;
  overflow: hidden;
}

.tabs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 50px;
  border-radius: 24px;
  border-bottom: 1px solid #cccccc23;
}

.tab-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  height: 100%;
  width: 100%;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}
.tab-item.current-tab {
  background-color: #005964;
}
.tab-item:hover {
  background-color: #005964;
}
.tab-item:first-child {
  border-right: 1px solid #cccccc23;
  border-bottom-left-radius: 24px;
}
.tab-item:last-child {
  border-left: 1px solid #cccccc23;
  border-bottom-right-radius: 24px;
}

.tabs-content {
  padding: 20px;
  color: #ccc;
}
