.modal-popup-container {
  background-color: #0a001b;
  color: #fff;
  max-width: 100%;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.modal-popup-btn {
  border: none;
  outline: none;
  margin-top: 100px;
  border-radius: 24px;
  padding: 8px 16px;
  background-color: #320088;
  color: #fff;
  cursor: pointer;
  transition: .3s;
}
.modal-popup-btn:hover {
  background-color: #240061;
}

.box-modal {
  margin-top: 20px;
  background-color: #3200881f;
  border-radius: 24px;
  padding: 20px;
  width: 600px;
  height: 400px;
  transition: .5s;
}