.modal-popup-container {
  background-color: #0a001b;
  color: #fff;
  max-width: 100%;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.open-modal-btn {
  border: none;
  outline: none;
  margin-top: 100px;
  border-radius: 24px;
  padding: 8px 16px;
  background-color: #320088;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.open-modal-btn:hover {
  background-color: #240061;
}

.box-modal {
  position: relative;
  margin-top: 100px;
  background-color: #3200881f;
  border-radius: 24px;
  padding: 20px;
  width: 600px;
  height: 400px;
  transition: 0.5s;

  animation-name: animationModal;
  animation-duration: .5s;
}

.close-modal-btn {
  border: none;
  outline: none;
  border-radius: 24px;
  padding: 8px 16px;
  background-color: #880000;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close-modal-btn:hover {
  background-color: #610000;
}


@keyframes animationModal {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}