:root {
  --background: #000;
  --text-primary: #fff;
  --button-bg: #fff;
  --button-text: #000;
}

[data-theme="dark"] {
  --background: #fff;
  --text-primary: #000;
  --button-bg: #000;
  --button-text: #fff;
}

.theme-switch {
  background-color: var(--background);
  color: var(--text-primary);
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: .3s;
}

.theme-msg {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-primary);
  background-color: transparent;
}

.change-theme-btn {
  border: none;
  outline: none;
  height: 54px;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 24px;
  background: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
}
