.load-more {
  padding: 100px 50px;
  background-color: #111;
  color: #ccc;
  max-width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  background-color: #222;
  padding: 10px 40px;
  color: #ccc;
  width: fit-content;
  margin: 0px auto 40px;
  border-radius: 24px;
}

.content {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.content .product {
  position: relative;
  background-color: #222;
  border-radius: 24px;
  padding: 20px 10px;
}

.content .product .price {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ccc;
  font-size: 35px;
  font-weight: 400;
  border: 2px solid #444;
  padding: 5px;
}

.content .product h2 {
  font-size: 17px;
  font-weight: 700;
  margin-top: 70px;
}

.content .product img {
  width: 200px;
}

.content .product .buy-now-btn {
  padding: 8px 16px;
  background-color: #ccc;
  color: #111;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #ccc;
}
.content .product .buy-now-btn:hover {
  background-color: #222;
  border: 2px solid #ccc;
  color: #ccc;
}

.loading {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
}
.loading-circle {
  border: 8px solid #ccc;
  border-top: 8px solid #444;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-more-btn {
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 8px 16px;
  background-color: #ccc;
  color: #111;
  outline: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #ccc;
}
.load-more-btn:hover {
  background-color: #222;
  border: 2px solid #ccc;
  color: #ccc;
}
