.star-rating {
  color: #111;
  background-color: #111;
  color: #ccc;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: rgb(255, 217, 0);
}

.disactive {
  color: #ccc;
}