.tree-view {
  background-color: #150029;
  color: #ccc;
  max-width: 100%;
  height: 100vh;
}

.menu-list {
  list-style: none;
  height: 100%;
  background: #05004e;
  width: fit-content;
  padding-right: 10px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.the-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-label {
  font-size: 20px;
  font-weight: 700;
}

.item-btn {
  font-size: 13px;
  font-weight: 500;
  color: #111;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
