.tictactoe-container {
  background-color: #000f16;
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.tictactoe-container h1 {
  background-color: #001f2e;
  letter-spacing: -1px;
  user-select: none;
}

.tictactoe-container .row {
  background-color: #001f2e;
  width: 260px;
  height: 90px;
  display: flex;
  align-items: center;
}

.tictactoe-container .row .square {
  height: 100%;
  width: calc(100% / 3);
  border: 1px solid #005c8a;
  background-color: #001f2e;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 50px;
  color: #fff;
  user-select: none;
}
.tictactoe-container .row .square:hover {
  background-color: #00293d;
}
